body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}


.btn {
    background-color: black;
    color: antiquewhite;
}

.modal {
    background-color: burlywood;
}